/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ff4f4f;
}

/* Estilo del encabezado */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #131313;
  color: white;
}

header img {
  height: 50px;
}

header h1 {
  margin-right:auto;
}

/* Estilo de navegación */
nav {
  margin: 20px 0;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff4f4f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

nav button:hover {
  background-color: #cacaca;
}
.top-nav a:hover {
  text-decoration: underline;
}

/* Contenedor principal */
.container {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: space-between;
  margin-left: auto;
  margin-right:auto;
  margin-top: 100px;
  max-width: 1000px;
  box-shadow: 20px #131313;
}
.container h2 {
  color: #ff4f4f;
}
/* Secciones */
section {
  margin-bottom: 40px;
}

/* Tabla */
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
  border-color: #000000;
  border-radius: 10px;
  background-color: #ff4f4f;
  box-shadow:#131313;
}

table, th, td {
  border: 3px solid #ffffff;
  border-radius: 10
  px;
}

td {
  padding: 10px;
  text-align:justify;
  color: #ffffff;
}
td p{
  padding: 10px;
  text-align:center;
  color: #ffffff;
}
th {
  padding: 10px;
  text-align:justify;
  color: #ffffff;
  font-weight:bolder;
}
h2{
  color:#ffffff;
}
.search-bar {
  margin: 10px 0;
  text-align: right;
}

.search-bar input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 200px;
  margin-right: 5px;
}

.search-bar button {
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #ff4f4f;
  border: none;
  border-radius: 4px;
  cursor: not-allowed; /* Se cambia al estado de "deshabilitado" */
}

.search-bar button:enabled {
  cursor: pointer;
  background-color: #ff4f4f;
}

.search-bar button:hover:enabled {
  background-color: #ff4f4f;
}
image {
  size: 800px;
}
.highlight {
  background-color: yellow;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Ocultar por defecto */
  background-color: #131313;
  color: #ff4f4f;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #131313;
}